@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ==== clerk class override ===== */
.cl-providerIcon__github {
  filter: invert(1);
}

.cl-socialButtonsBlockButtonText__github,
.cl-socialButtonsBlockButtonText__google {
  color: #afb0b5;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-internal-1ftpdtb {
  background-color: #252a41;
}

.cl-internal-1hp5nqm,
.cl-internal-lm36wl,
.cl-internal-1dauvpw {
  display: none;
}

.cl-userButtonPopoverCustomItemButton,
.cl-userButtonPopoverActionButton {
  color: #ffffffad;
  transition: 0.3s ease;
  /* todo: profile color */
}

.cl-userButtonPopoverCustomItemButton span {
  color: #fff;
}

.cl-userButtonPopoverCustomItemButton span,
.cl-userButtonPopoverActionButton:hover,
.cl-userButtonPopoverCustomItemButton:hover {
  color: #fff;
}

.cl-internal-10jlg2l {
  max-height: 95vh;
}

/* .cl-socialButtonsIconButton {
  border: 30px solid yellow;
}

.cl-internal-wkkub3 {
  color: red;
} */

/* ==== scroll bar edit ===== */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e2ec3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 10px;
  border: 3px solid #252a41;
}
